body {
  background-color: #000000;
}
.logo {
  color: rgb(255, 255, 255);
}
.logo_decor {
  color: rgba(75, 202, 255, 1);
}
.head_menu {
  background: rgba(75, 202, 255, 1);
}
.menu_list {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.list_items {
  color: #000000;
}
.menu_list:hover {
  background: #ffffff;
}
.sidebar {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #ffffff;
}

.side_links {
  color: #ffffff;
}

.side_list:hover {
  background: #dbdbdb;
}
.side_links:hover {
  color: black;
}

.items_img {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #ffffff;
}

.main_text {
  color: #fff;
}
.items_img {
  background: #fff;
}

.main_footer {
  background: rgba(75, 202, 255, 1);
}

.footer_list {
  color: #0c1927;
}

.copy {
  color: #010101;
}

.list_link {
  color: #010101;
}
.them-icon[data-theme='dark'] {
  display: none;
}
.them-icon[data-theme='white'] {
  display: block;
}
