.theme {
  position: fixed;
  bottom: 50%;
  right: 0px;
}
.them-icon {
  position: flex;
  right: 0;
  top: 0px;
  width: 40px;
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.conteiner {
  width: 1280px;
  margin: auto;
}
.logo {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: rgba(0, 0, 0, 1);
}
.logo_decor {
  color: rgba(75, 202, 255, 1);
}
.head_menu {
  background: #35444f;
  margin-top: 38px;
}
.menu_items {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.menu_list {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 26px 32px 19px 32px;
}
.list_items {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.menu_list:hover {
  background: #222f3a;
}
.sidebar {
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.side_items {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}
.side_list {
  padding: 27px 0px 27px 44px;
}
.side_links {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.main_sect {
  margin-top: 48px;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
}
.side_list:hover {
  background: #dbdbdb;
  padding-left: 60px;
}
.side_links:hover {
  color: black;
}
.main_items {
  width: 885px;
  height: 832px;
}
.sidebar {
  width: 344px;
  height: 399px;
}
.items_img {
  width: 885px;
  height: 529px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.main_img {
  width: 320px;
}
.main_img:hover {
  width: 400px;
  transition: 2.5s;
}
.main_text {
  margin-top: 36px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.main_footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  height: 68px;
  margin-top: 50px;
}
.footer_menu {
  display: flex;
  width: 875px;
}
.footer_items {
  display: flex;
  text-align: left;
}
.footer_copy {
  display: flex;
}
.footer_list {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  padding-left: 30px;
}
.footer_list:first-child {
  padding-left: 40px;
}
.copy {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}
.list_link:hover {
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
}
.list_link {
  text-decoration: none;
  color: #010101;
}
