.logo {
  color: rgba(0, 0, 0, 1);
}
.logo_decor {
  color: rgba(75, 202, 255, 1);
}
.head_menu {
  background: #35444f;
}
.menu_list {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.list_items {
  color: #ffffff;
}
.menu_list:hover {
  background: #222f3a;
}
.sidebar {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

.side_links {
  color: #485863;
}

.side_list:hover {
  background: #dbdbdb;
}
.side_links:hover {
  color: black;
}

.items_img {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

.main_text {
  color: #2c2c2c;
}

.main_footer {
  background: rgba(99, 105, 110, 0.48);
}

.footer_list {
  color: #0c1927;
}

.copy {
  color: #010101;
}

.list_link {
  color: #010101;
}
.them-icon[data-theme='dark'] {
  display: block;
}
.them-icon[data-theme='white'] {
  display: none;
}
